/*
.container-fluid { 
  background: url(../js/views/Argazkiak/img/three.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:750px;
}
*/
body{ background-color: #C2C2AE;}
#nagusia{ min-height:650px;}
.ordua{ font-size: 14em; text-align: center; margin-bottom: 0; padding:0; font-family: 'Sirin Stencil', cursive; color: white; }
#calendar{ padding-top:10px; }

.argazki{ width:100%; margin-top:20px; text-align: center; }

.albiste img{ max-width:100%; }

.albiste .desktibapena{ font-size:1.5em; }

.albiste .iturria{ text-align: center; font-size:0.8em; }
.albiste h1{ font-family: 'Boogaloo', cursive; font-size:50px; margin-bottom:20px; }

.blackscreen{ position: absolute; width:100%; height: 100%; background-color: black; z-index: 98; }
.inaktibo{ position: absolute; width: 100%; height:100%; background-color: black; z-index:99; }

.erloju-wrapper { position: absolute; top:50px; right:50px; background-color: black; opacity:0.5; padding: 10px; z-index:100;}
.erloju-osoa { font-size: 12em; color: white;font-family: 'Sirin Stencil', cursive;}
.eguraldia { margin-top: 20px; }

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #000;
    background-color: #F5F57A;
}

a { color: #fff; text-decoration: none; }

#menua{ position: absolute; top:0; right:0; height: 735px; background-color: #8F8F81; }

#menua .nav-pills a{ font-family: 'Courgette', cursive; font-size: 1.5em;}

.clearfix{ clear: both; }
