/*
.container-fluid { 
  background: url(../js/views/Argazkiak/img/three.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:750px;
}

*{ cursor: none!important;}
*/
body{ background-color: #fcfcdd; }
h2{ font-size: 60px; }
#nagusia{ min-height:650px;}
.ordua{ font-size: 160px; text-align: center; margin-bottom: 0; padding:0; font-family: 'Sirin Stencil', cursive; color: white; }
#calendar{ padding-top:10px; }

.fc .fc-button-group > * {
    float: left;
    margin: 0 0 0 -1px;
    padding:30px;
}

.argazki{ width:100%; margin-top:20px; text-align: center; }

.albiste img{ max-width:100%; }

.albiste .deskribapena{ font-size:18px; margin-top:20px;}

.albiste .iturria{ text-align: center; font-size:0.8em; }
.albiste h1{ font-family: 'Boogaloo', cursive; font-size:50px; margin-bottom:20px; }

.blackscreen{ position: absolute; width:100%; height: 100%; background-color: black; z-index: 98; }
.inaktibo{ position: absolute; width: 100%; height:100%; background-color: black; z-index:99; }

.erloju-wrapper { position: absolute; top:50px; right:50px; background-color: black; opacity:0.5; padding: 10px; z-index:100;}
.erloju-osoa { font-size: 12em; color: white;font-family: 'Sirin Stencil', cursive;}
.eguraldia { margin-top: 20px; }

.otzara{ height: 650px; background-color: white; border:1px solid black; margin-top: 20px; padding:5px;}
.ontzia { height:150px; margin: 5px; padding: 5px; border:1px solid grey;}
.ontzia.ui-state-highlight{ background-color: green; color:white;}

.produktuak{ margin-top: 20px; padding:5px; background-color: white; height:650px;}
.produktu{ height: 150px; padding:5px; text-align:center; border: 1px solid grey; margin: 2px; z-index:10;}


.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #000;
    background-color: #F5F57A;
}

a { color: #fff; text-decoration: none; }
img{max-width: 100%;}

.fc button .fc-icon {
    top: -0.8em;
}

#menua{ position: absolute; top:0; right:0; height: 735px; background-color: #3d3d1e; }

#menua .nav-pills a{ font-family: 'Courgette', cursive; font-size: 1.5em;}

.clearfix{ clear: both; }
