<div class="container-fluid">
<div class="row">
	<div class="col-md-9 produktuak">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3 produktu">
					Sagarrak
				</div>

				<div class="col-md-3 produktu">
					Yogurrak
				</div>

				<div class="col-md-3 produktu">
					Kalabazia
				</div>

				<div class="col-md-3 produktu">
					Kalabazina
				</div>

				<div class="col-md-3 produktu">
					xxx
				</div>

				<div class="col-md-3 produktu">
					xxx
				</div>

				<div class="col-md-3 produktu">
					xxx
				</div>

				<div class="col-md-3 produktu">
					xxx
				</div>

				<div class="col-md-3 produktu">
					xxx
				</div>

				<div class="col-md-3 produktu">
					xxx
				</div>

				<div class="col-md-3 produktu">
					xxx
				</div>

				<div class="col-md-3 produktu">
					xxx
				</div>

			</div>
		</div>
	</div>

	<div class="col-md-3 otzara" id="otzara">
		<i class="fa fa-cart-arrow-down" aria-hidden="true"></i>

	</div>
</div>